In [8]:
import pandas as pd
df = pd.read_csv("C:/Users/ASUS/Desktop/PRAK PROB STATIS/BahanPraktikum_Statistika.csv",sep=';')
df

      Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0    Risma      W      2022           157               120          Bekasi
1    Putri      W      2022           155                55         Jakarta
2   Aisyah      W      2022           155                60       Tangerang
3    Rhena      W      2022           155                70       Tangerang
4   Chaesa      W      2022           160                60           Depok
5    Sonya      W      2022           160               140         Jakarta
6    Vania      W      2022           163                40         Jakarta
7    Aulia      W      2022           160                30          Bekasi
8    Andri      P      2022           161               120          Bekasi
9    Rabih      P      2022           175               120         Jakarta
10    Isky      P      2022           171                30         Jakarta
11   Candy      P      2022           170                15          Bekasi
12  Ziddan      P      2022           169               120         Jakarta
13   Wayan      P      2022           172                15         Jakarta
14    Evan      P      2022           165                20         Jakarta
15   Rakha      P      2022           176                30           Bogor
16   Fahmi      P      2022           177               150         Jakarta
17     Ery      P      2022           167                20       Tangerang
18   Tarum      W      2022           159                60         Jakarta
19   Fajri      P      2022           170                20         Jakarta

In [6]:
df = pd.read_excel("C:/Users/ASUS/Desktop/PRAK PROB STATIS/tarum.xlsx")
df

      Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0    Risma      W      2022           157               120          Bekasi
1    Putri      W      2022           155                55         Jakarta
2   Aisyah      W      2022           155                60       Tangerang
3    Rhena      W      2022           155                70       Tangerang
4   Chaesa      W      2022           160                60           Depok
5    Sonya      W      2022           160               140         Jakarta
6    Vania      W      2022           163                40         Jakarta
7    Aulia      W      2022           160                30          Bekasi
8    Andri      P      2022           161               120          Bekasi
9    Rabih      P      2022           175               120         Jakarta
10    Isky      P      2022           171                30         Jakarta
11   Candy      P      2022           170                15          Bekasi
12  Ziddan      P      2022           169               120         Jakarta
13   Wayan      P      2022           172                15         Jakarta
14    Evan      P      2022           165                20         Jakarta
15   Rakha      P      2022           176                30           Bogor
16   Fahmi      P      2022           177               150         Jakarta
17     Ery      P      2022           167                20       Tangerang
18   Tarum      W      2022           159                60         Jakarta
19   Fajri      P      2022           170                20         Jakarta

In [9]:
df =pd.read_clipboard()

In [10]:
df

      Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0    Risma      W      2022           157               120          Bekasi
1    Putri      W      2022           155                55         Jakarta
2   Aisyah      W      2022           155                60       Tangerang
3    Rhena      W      2022           155                70       Tangerang
4   Chaesa      W      2022           160                60           Depok
5    Sonya      W      2022           160               140         Jakarta
6    Vania      W      2022           163                40         Jakarta
7    Aulia      W      2022           160                30          Bekasi
8    Andri      P      2022           161               120          Bekasi
9    Rabih      P      2022           175               120         Jakarta
10    Isky      P      2022           171                30         Jakarta
11   Candy      P      2022           170                15          Bekasi
12  Ziddan      P      2022           169               120         Jakarta
13   Wayan      P      2022           172                15         Jakarta
14    Evan      P      2022           165                20         Jakarta
15   Rakha      P      2022           176                30           Bogor
16   Fahmi      P      2022           177               150         Jakarta
17     Ery      P      2022           167                20       Tangerang
18   Tarum      W      2022           159                60         Jakarta
19   Fajri      P      2022           170                20         Jakarta

In [13]:
#menghitung rata-rata tinggi
rata_tinggi = df['Tinggi Badan'].mean()
rata_tinggi

164.85

In [15]:
print(df.dtypes)

Nama                object
Gender              object
Angkatan             int64
Tinggi Badan         int64
Waktu Perjalanan     int64
Wilayah Tinggal     object
dtype: object

In [16]:
#mengubah tipe data kolom 'Angkatan' menjadi string 
df['Angkatan'] = df['Angkatan'].astype(str)

In [17]:
print(df.dtypes)

Nama                object
Gender              object
Angkatan            object
Tinggi Badan         int64
Waktu Perjalanan     int64
Wilayah Tinggal     object
dtype: object